<h1>Building Details</h1>
<br>
<h2>{{building.title}}</h2>
<span>Built by: {{building.builder}}</span>
<p>Year of Construction: {{building.yearOfConstruction}}</p>
<p>Number of floors: {{building.floors}}</p>
<p>Address: {{building.address}}</p>
<p>Elevators: {{building.numOfElevators}}</p>
<br>
<a href="/">Return to Main Page</a>