<h1>Building Details</h1>
<br>
<h2>{{building.name}}</h2>
<p>Built by: <h3>{{building.builder}}</h3></p>
<p>Year of Construction: <h3>{{building.yearOfConstruction}}</h3></p>
<p>Number of floors: <h3>{{building.floors}}</h3></p>
<p>Address: <h3>{{building.address}}</h3></p>
<p>Elevators: <h3>{{building.numOfElevators}}</h3></p>
<br>
<a href="/issues">Report Issues</a>
<br>
<a href="/buildings">Return to Main Page</a>