<div class="h2-stylings">
  <h2>Send your Solution</h2>
</div>
<hr>
<br>
<form action="/issues/solution?issue_id={{issue._id}}">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <p><b>User:</b><br><br>{{issue.userName}}</p>
      </div>
      <div class="col-sm">
        <p><b>User Email:</b><br><br>{{issue.email}}</p>
      </div>
      <div class="col-sm">
        <p><b>Type of Issue:</b><br><br>{{issue.issueType}}</p>
      </div>
      <div class="col-sm">
        <p><b>Floor:</b><br><br>{{issue.floor}}</p>
      </div>
      <div class="col-sm">
        <p><b>Appartment:</b><br><br>{{issue.apartment}}</p>
      </div>
      <div class="col-sm">
        <p><b>Commentary:</b><br><br>{{issue.comment}}</p>
      </div>
    </div>
  </div>
</form>
<br>


<form action="/send-email" method="post">
  <label for="">Email</label>
  <input type="email" name="email" id="">
  <label for="">Subject</label>
  <input type="text" name="subject" id="">
  <label for="">Message</label>
  <textarea type="text" name="message" id=""></textarea>
  <button type="submit">Submit</button>
</form>