<div class="h2-stylings">
  <h2>Send your Solution</h2>
</div>
<hr>
<br>
<form action="/issues/solution?issue_id={{issue._id}}">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <p><b>User:</b><br><br>{{issue.userName}}</p>
      </div>
      <div class="col-sm">
        <p><b>User Email:</b><br><br>{{issue.email}}</p>
      </div>
      <div class="col-sm">
        <p><b>Type of Issue:</b><br><br>{{issue.issueType}}</p>
      </div>
      <div class="col-sm">
        <p><b>Floor:</b><br><br>{{issue.floor}}</p>
      </div>
      <div class="col-sm">
        <p><b>Appartment:</b><br><br>{{issue.apartment}}</p>
      </div>
      <div class="col-sm">
        <p><b>Commentary:</b><br><br>{{issue.comment}}</p>
      </div>
    </div>
  </div>
</form>
<br>


<form action="/send-email" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="">Email</label>
    <input class="form-control" type="email" name="email" id="">
  </div>
  <div class="form-group">
    <label for="">Subject</label>
    <input class="form-control" type="text" name="subject" id="">
  </div>
  <div class="form-group">
    <label for="">Message</label>
    <textarea class="form-control" type="text" name="message" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="form-group">
    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="file">
  </div>
  <button type="submit">Submit</button>
</form>