<body id="building_details" class="padtop-100">

<!-- BUILDING PROFILE ================================================== -->

    <div class="h2-stylings">
      <h3>{{building.name}}</h3>
    </div>

    <section class="pt-8 pt-md-11 pb-8 pb-md-14 mb-100">
      <div class="container">
        <div class="row">
          <div class="col-12">
            
            <!-- Card -->
            <div class="card card-border shadow-light-lg border border-white">
              <div class="card-body">
                
                  <div class="row">
                    <div class="col-12 col-md-4">
                      

                      <img src="{{building.imgPath}}" alt="..." class="img-thumbnail">

                      <hr>
                      <div class="btn-group btn-block" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary" href="/building/edit?building_id={{building._id}}">Edit Building</button>
                        <button type="button" class="btn btn-secondary">Delete Building</button>
                      </div>


                      <hr>
                      <!-- LikeBtn.com BEGIN -->
                        <span class="likebtn-wrapper" data-white_label="true" data-popup_disabled="true"></span>
                        <script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
                      <!-- LikeBtn.com END -->


                    </div>
                    <div class="col-12 col-md-4">
                      

                      <h4>Building Details</h4>
                        <br>
                        <p>Built by: <h5>{{building.builder}}</h5>
                        </p>
                        <p>Year of Construction: <h5>{{building.yearOfConstruction}}</h5>
                        </p>
                        <p>Number of floors: <h5>{{building.floors}}</h5>
                        </p>
                        <p>Address: <h5>{{building.address}}</h5>
                        </p>
                        <p>Elevators: <h5>{{building.numOfElevators}}</h5>
                        </p>
                        <br>
                        {{#if professional}}
                          <a class="button-1" href="/buildings/edit?building_id={{building._id}}">Edit</a>
                          <br>
                          <div>
                            <form action="/buildings/{{building._id}}/delete" method="POST">
                              <button class="button-1" type="submit">Delete</button>
                            </form>
                          </div>
                        {{/if}}
                        <br>


                    </div>
                    <div class="col-12 col-md-4">
                      
                      <div class="form-group form-color">

                        <form action="/buildings/{{building._id}}/issues/add" method="post">
                          <h4>Insert an Issue</h4>
                          <br>
                          {{#if user}}
                          <label>Resident:</label>
                          <br>
                          <label for="">
                            <h6>{{user.firstName}} {{user.lastName}}</h6>
                          </label>
                          <br>
                          {{else}}
                          <label>Company:</label>
                          <br>
                          <label for="">
                            <h6>{{professional.companyName}}</h6>
                          </label>
                          <br>
                          {{/if}}
                          <br>
                          <label for="">Floor:</label>
                          <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            name="floor">
                          <br>
                          {{#if user}}
                          <label for="">Apartment:</label>
                          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            name="apartment">
                          <br>
                          {{/if}}
                          <label for="">Type of issue:</label>
                          <select class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="issueType">
                            <option value="Cleaning">Cleaning</option>
                            <option value="Cracks">Cracks</option>
                            <option value="Elevators">Elevators</option>
                            <option value="Inflitrations">Inflitrations</option>
                            <option value="TV Signal">TV Signal</option>
                            <option value="Home Appliances">Home Appliances</option>
                            <option value="Others">Others</option>
                          </select>
                          <br>
                          <label for="">Commentary:</label>
                          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            name="comment">
                          <br>
                          <button class="button btn-block" type="submit">Add Issue</button>
                        </form>
                      </div>

                    </div>
                  </div> <!-- / .row -->
                  <div class="row">
                    <div class="col-12">
                      
                    

                        <!-- BUILDING ISSUES ================================================== -->

                          {{#each issue}} 
                          
                          <hr>
                          
                          <form action="">
                          <div class="list-group list-group-flush">
                            <div class="list-group-item d-flex align-items-center">
                              
                              <!-- Text -->
                              <div class="mr-auto">
                               
                                <!-- Heading -->
                                <p class="font-weight-bold mb-1">
                                  {{this.comment}}
                                </p>

                                <!-- Text -->
                                <p class="font-size-sm text-muted mb-0">
                                  {{this.issueType}} issue by {{this.userName}} | Floor: {{this.floor}}, Ap.: {{this.apartment}}
                                </p>

                              </div>
                                
                              <!-- Check -->
                              <div class="badge badge-rounded-circle badge-success-soft ml-4">      

                                <div class="btn-group" role="group" aria-label="Basic example">

                                  {{#if ../user}}
                                    <a class="btn btn-secondary" href="/issues/edit?issue_id={{this._id}}">Edit</a>

                                    <form action="/issues/{{this._id}}/delete" method="POST">
                                      <button class="btn btn btn-secondary" type="submit">Delete</button>
                                    </form>
                                    
                                    {{else}}
                                    <a class="btn btn-secondary" href="/issues/solution?issue_id={{this._id}}">Solution</a>
                                  {{/if}}

                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      {{/each}}

                      <hr>

                    </div>
                  </div> <!-- / .row -->
                  <div class="row align-items-center">
                    <div class="col-12 col-md">
                      
                      

                    </div>
                    <div class="col-12 col-md-auto">

                      <p class="font-size-sm text-muted mb-0">
                        
                        <ol class="breadcrumb breadcrumb-scroll bg-white">
                          <li class="breadcrumb-item">
                            <a class="text-gray-700" href="http://localhost:3000/buildings/">
                              Go back to Buildings List
                            </a>
                          </li>
                          <li class="breadcrumb-item active" aria-current="page">
                            {{building.name}}
                          </li>
                        </ol>

                      </p>
                      
                    </div>
                  </div> <!-- / .row -->
                </form>

              </div>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

</body>