<body id="building_details" class="padtop-100">


<!-- Side navigation -->
<div class="sidenav">
  <img src="{{building.imgPath}}" alt="..." class="img-thumbnail">
  <a href="#">Building Details</a>
  <hr>
  <a href="#">Building Admin</a>
  <hr>
  <a href="#">Building Issues</a>
  <hr>
  <a href="#">Residents</a>
  <hr>
  <a href="#">Edit</a>
  <hr>
  <a href="#">Delete</a>
  <hr>
  <a href="/buildings">Return to Building list</a>
</div>

<!-- Page content -->
<div class="main">

<div class="h2-stylings">
  <h3>{{building.name}}</h3>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h4>Building Details</h4>
      <br>
      <p>Built by: <h5>{{building.builder}}</h5>
      </p>
      <p>Year of Construction: <h5>{{building.yearOfConstruction}}</h5>
      </p>
      <p>Number of floors: <h5>{{building.floors}}</h5>
      </p>
      <p>Address: <h5>{{building.address}}</h5>
      </p>
      <p>Elevators: <h5>{{building.numOfElevators}}</h5>
      </p>
      <br>

      <a class="button-1" href="/buildings/edit?building_id={{building._id}}">Edit</a>
      <br>
      <div>
        <form action="/buildings/{{building._id}}/delete" method="POST">
          <button class="button-1" type="submit">Delete</button>
        </form>
      </div>
      <br>
    </div>


    <div class="col">
      <div class="form-group form-color">
        <form action="/buildings/{{building._id}}/issues/add" method="post">
          <h4>Insert an Issue</h4>
          <br>
          <label>Resident:</label>
          <br>
          <label for=""><h6>{{user.firstName}} {{user.lastName}}</h6></label>
          <br>
          <br>
          <label for="">Floor:</label>
          <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="floor">
          <br>
          <label for="">Apartment:</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="apartment">
          <br>
          <label for="">Type of issue:</label>
          <select class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="issueType">
            <option value="Cleaning">Cleaning</option>
            <option value="Cracks">Cracks</option>
            <option value="Elevators">Elevators</option>
            <option value="Inflitrations">Inflitrations</option>
            <option value="TV Signal">TV Signal</option>
            <option value="Home Appliances">Home Appliances</option>
            <option value="Others">Others</option>
          </select>
          <br>
          <label for="">Commentary:</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="comment">
          <br>
          <button class="button" type="submit">ADD</button>
        </form>
      </div>
    </div>
  </div>

  <hr>

  <h4>Building Issues</h4>
  <br>
  {{#each issue}}
  <form action="">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <p><b>Resident:</b><br>{{this.userName}}</p>
        </div>
        <div class="col-sm">
          <p><b>Type of Issue:</b><br>{{this.issueType}}</p>
        </div>
        <div class="col-sm">
          <p><b>Floor:</b><br>{{this.floor}}</p>
        </div>
        <div class="col-sm">
          <p><b>Appartment:</b><br>{{this.apartment}}</p>
        </div>
        <div class="col-sm">
          <p><b>Commentary:</b><br>{{this.comment}}</p>
        </div>
        {{#if ../user}}
          <a class="button-1" href="/issues/edit?issue_id={{this._id}}">Edit</a>
        {{else}}
          <a class="button-1" href="/issues/solution?issue_id={{this._id}}">Present a solution</a>
        {{/if}}
      </div>
    </div>
    <hr>
  </form>
  {{/each}}

<br>
<a href="/buildings">Return to Building list</a class="button">
</div>
</div>

</body>