<body id="building-list" class="padtop-100">


<!-- SEARCH ================================================== -->

    <section class="py-6 mb-50">
      <div class="container">
        <div class="row">
          <div class="col-12">
            
          <!-- Heading -->
            <h4 class="lead text-center text-md-center text-muted mb-6 mb-lg-8 mb-25">
              Find your building and start engaging now!
            </h4>

          <!-- Search form -->
            <form class="rounded shadow md-form mr-auto mb-4" action="/buildings/search" method="GET">
              <div class="input-group input-group-lg">

                <!-- Input -->
                <input class="form-control border-0 px-1" type="text" placeholder="Find your Building here" name="name" aria-label="Search" value="Edifício Sol">
                
                <!-- Append -->
                <div class="input-group-append">
                  <span class="input-group-text border-0 py-0 pl-1 pr-3">

                <!-- Button -->
                <button class="btn btn-sm btn-primary" type="submit">
                  Search
                </button>

                </div>

            </form>

          </div>
        </div> <!-- / .row -->
      </div>
    </section>

<br>

<form class="form-inline md-form mr-auto mb-4 h2-stylings" action="/buildings/search" method="GET">
    <input class="form-control mr-sm-2" type="text" placeholder="Find your Building here" name="name"
        aria-label="Search">
    <button class="button-search btn btn-danger aqua-gradient btn-rounded btn-sm my-0" type="submit">Search</button>
</form>



<!-- BUILDING LIST ================================================== -->

<div class="container">
    <div class="h2-stylings">
        <h2>Building List</h2>
    </div>


    <div class="container">
        <div class="row">

            {{#each building}}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{this.imgPath}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><a href="/buildings/{{this._id}}">{{this.name}} </a></h5>
                        <p class="card-text"></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{this.address}}</li>
                    </ul>
                </div>
                <br>
            </div>
            <br>
            {{/each}}

        </div>
    </div>

    <a href="/">Retun to main page</a>
</div>

</body>

<br>

<!-- CONTENT ================================================== -->
    <section class="py-8 py-md-11 mt-n10 mt-md-n14">
      <div class="container">
        <div class="row" id="portfolio" data-isotope='{"layoutMode": "fitRows"}'>
          
          {{#each building}}
          <div class="col-12 col-md-4 product">

            <!-- Card -->
            <a class="card card-flush mb-7" href="#!">

              <!-- Image -->
              <div class="card-zoom">
                <img class="card-img-top rounded shadow-light-lg" src="{{this.imgPath}}" alt="...">
              </div>

              <!-- Footer -->
              <div class="card-footer">

                <!-- Preheading -->
                <h7 class="text-uppercase mb-1 text-muted">{{this.address}}</h7>

                <!-- Heading -->
                <h4 class="mb-0">{{this.name}}</h4>

              </div>

            </a>

          </div>

        </div>
        {{/each}}

      </div>
    </section>